@import '../../../styles/settings.scss';

.galleryWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectedImageContainer {
  margin-bottom: 20px;
}

.selectedImage {
  width: 800px;
  height: 650px;
  object-fit: fit;
}

.slider {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.item {
  flex: 0 0 auto;
}

.galleryImage {
  width: 200px;
  height: 180px;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.galleryImage:hover {
  opacity: 1;
  border: 2px solid #000;
}

