@import '../../../styles/settings.scss';
@import '../../../styles/typography.scss';


.projectBox {
  position: relative;
  overflow: hidden;
  margin: 16px; 
  padding: 16px; 
}


.titleBox{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  bottom: 40px;
  background-color: $color-primary;
  width: 600px;
}

.boxName {
  color: $color-on-background;
  font-style: italic;
  padding-left: 20px;
  padding-right: 50px;
}

.btnBox {
  background-color: rgba(106, 105, 105, 0.2); 
  padding: 10px 25px;
  margin-right: 20px;
  border-radius: 25px;
  font-family: $font-text;
  letter-spacing: 3px;
  color: $color-on-background;
  text-decoration: none;
  transition: all 0.3s ease;
}


.mainImg {
  width: 600px; 
  height: auto; 
  object-fit: cover; 
  max-height: 400px;
  border-radius: 4px;
}

.btnBox:hover {
  text-decoration: underline;
  scale: 1.1;
}