@import '../../../styles/settings.scss';
@import '../../../styles/typography.scss';


.Intro {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10rem;
  text-align: center;
  flex-direction: column;
}


.text {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  z-index: 1; 
  overflow: hidden; 
  color: $color-bright;

  h1 {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid $color-primary; 
    animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
    font-size: 2rem;
  }

  p {
    margin: 0.5rem 0;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 4s; 
  }
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: $color-primary;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

