@import '../../../styles/settings.scss';

.titleBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navBtn {
  background-color: $color-on-background;
  color: $color-bright;
  padding: 10px;
  margin: 0  10rem;
  border: none;
  font-size: 25px;
}
.navBtn:hover {
  text-decoration: underline;
}

.subTitle {
 color: $color-bright;
}

//transition
.fade-enter {
  opacity: 0;
  transform: scale(0.98);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 700ms ease-in-out, transform 700ms ease-in-out; /* Increased duration */
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 700ms ease-in-out, transform 700ms ease-in-out; /* Increased duration */
}

