@import '../../../styles/settings.scss';

.title {
  position: relative;
  padding: 30px 0;
  color: $color-text-light;
}

.textContainer {
  display: block;
  margin: 20px 100px;
}

.subTitle {
 color: $color-bright;
}

