@import '../../../styles/settings.scss';


.pageContainer {
  background:  $color-on-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 50px;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.pageContainer.fade-out {
  opacity: 0;
}