@import '../../../styles/settings.scss';


body {
  background-color: $color-on-background;
  margin: 0;
  padding: 0;
  min-height: 100%; 
  display: flex;
  flex-direction: column;
}

.pageContainer {
  background-size: cover; 
  display: flex;
  flex-grow: 1; 
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  opacity: 0;
  transform: scale(0.95) rotate(1deg); 
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.arrowContainer {
  display: flex;                   
  justify-content: space-between;              
  margin-top: 20px;              
  padding: 0 10px;                                         
  position: absolute;               
  top: 50%;                      
}

.arrowContainer > svg {            
  width: 30px;                    
  height: 30px;
  cursor: pointer;                 
}


.fade-in {
  opacity: 1;
  transform: scale(1) rotate(0deg); 
}

.fade-out {
  opacity: 0.5;
  transform: scale(1.05) rotate(0deg); 
  filter: blur(2px); 
}

@keyframes backgroundAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.pageContainer {
  background-size: 200% 200%;
  animation: backgroundAnimation 3s ease infinite
}