@import '../../../styles/settings.scss';

.navContainer {
  margin: 0;
  padding: 15px 20px 15px 20px;
  background-color: $color-on-background;
  //position: fixed;
}

.img {
  width: 40px;
  height: auto;
}

.toggleBtn {
  background-color: $color-bright;
}

.link:hover {
  color: $color-primary;
}