@import '../../../styles/settings.scss';

.navContainer {
  margin: 0;
  padding: 15px 20px 15px 20px;
  background: $color-on-background;
  //background: linear-gradient(135deg, #000000, #603662, #16213e, #0f3460);
  //position: fixed;
}

.img {
  width: 40px;
  height: auto;
}

.toggleBtn {
  background: $color-bright;
}

.link:hover {
  color: $color-primary;
}