@import './settings.scss';


h1 {
  font-family: $font-header;
  color: $color-text-light;
  font-size: 55px;
}

h2 {
  font-family: $font-header;
}

p{
  font-family: $font-text;
  color:  $color-text-light;
  font-size: 20px;
}

li{
  font-family: $font-text;
}